<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoapp">

        </div>
        <div class="socialmedia">
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/alex9309"><img src="../../../assets/facebook.png" id="face"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/roberto-alexis-oyola-a1996b255"><img src="../../../assets/linkedin.png" id="link"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/alekiroboto/"><img src="../../../assets/instagram.png" id="ig"></a>        
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/ajax9309/"><img src="../../../assets/github.png" id="git"></a>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/Alex9309"><img src="../../../assets/twitter.png" id="tw"></a>
            <a target="_blank" rel="noopener noreferrer" href="mailto:aleoh_93@hotmail.com"><img src="../../../assets/email.png" id="email"></a>
            <button (click)="login()" *ngIf="!isLogged" type="button" class="btn btn-success btn-small">Login</button>
            <button (click)="onLogOut()"*ngIf="isLogged" type="button" class="btn btn-success btn-small">Logout</button>
        </div>

    </div>
</div>
