<div class="row">
    <div class="col-lg-11">
        <button type="button" class="btn btn-primary" routerLink="/editabout/1" *ngIf="isLogged">
          <i class="bi bi-pencil-square"></i>
          Editar Perfil
        </button>
      </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="pic" src={{persona.img}} class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer JR</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descrip" >
        <span>
            <h1>Acerca mio</h1>
            <p>{{persona.descrip}}
            </p>
        </span>
    </div>
</div>