/*acerca mio css*/
.row{
    padding: 20px;
    margin: 5px;
}
div{
    background-color:aliceblue;
    text-align: center;
}

.card{
    margin: 10px;
    padding: 5px;
}
/*nombre css*/
#name{
    font-weight: bold;
    margin-top: 35%;
    margin-left: 35 px;
}
/*perfil css*/

@media (min-width:610px){
    #pic{
        position:absolute ;
        width: 140px;
        border-radius: 100%;
        box-shadow: 5px 5px 5px black;
        top: -85px;
        left: 75px;
    }
    .descrip{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:609px) {
    #pic {
        position: absolute;
        width: 130px;
        border-radius: 100%;
        box-shadow: 5px 5px 15px black;
        top: -85px;
    }
}

@media (max-width:575px) {
    #pic {
        position: absolute;
        width: 115px;
        border-radius: 100%;
        box-shadow: 5px 5px 15px black;
        top: 70px;
        left: 205px;
    }

    
}

@media (max-width:480px) {
    #pic {
        position: absolute;
        width: 105px;
        border-radius: 100%;
        box-shadow: 5px 5px 15px black;
        top: 75px;
        left: 150px;
    }
}

@media (max-width:400px) {
    #pic {
        position: absolute;
        width: 90px;
        border-radius: 100%;
        box-shadow: 5px 5px 15px black;
        top: 70px;
        left: 130px;
    }

    
}

@media (max-width:340px) {
    #pic {
        position: absolute;
        width: 70px;
        border-radius: 100%;
        box-shadow: 5px 5px 15px black;
        top: 70px;
        left: 105px;
    }
}


