/*acerca mio css*/
.row{
    padding: 20px;
}
div{
    background-color: rgb(122, 87, 168);
    text-align: center;
}
/*nombre css*/
#name{
    font-weight: bold;
    margin-top: 35%;
    margin-left: 35 px;
}
/*perfil css*/
@media (min-width:576px){
    #pic{
        position:absolute ;
        width: 150px;
        border-radius: 100%;
        box-shadow: 5px 5px 5px black;
        top:500px;
    }
    .descrip{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:575px){
    #pic{
        position:absolute ;
        width: 250px;
        border-radius: 100%;
        box-shadow: 5px 5px 15px black;
        top:450px;
    }
}