<div class="card" *ngIf="skill">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div>
                <div class="form-group">
                    <label for="nomSkill">Nombre de la habilidad</label>
                    <input  type="text" class="form-control" id="nomSkill" name="nomSkill"[(ngModel)]="skill.nomSkill" required>          
                </div>
                <div class="form-group">
                    <label for="porcSkill">Descripción de estudios</label>
                    <input  type="text" class="form-control" id="porcSkill" name="porcSkill"[(ngModel)]="skill.porcSkill" required>         
                </div>
                <div>
                    <button class="btn btn-success">
                        Actualizar
                    </button>
                    <button class="btn btn-light" routerLink="">
                        Cancelar
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>