<div class="card">
    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <div class="col-lg-11">
            <button type="button" class="btn btn-primary" routerLink="/newskill" *ngIf="isLogged">
                <i class="bi bi-plus-square"></i>
                Agregar habilidad
            </button>
        </div>
        <div class="row" *ngIf="skill?.length == 0">
            <p>No hay habilidades para mostrar</p>
          </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-3 card border-grey mb-1" *ngFor="let skill of skill"
            ><circle-progress
            [title]="(skill.nomSkill)"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [percent]="(skill.porcSkill)"
            [radius]="80"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="(skill.colorSkill)"
            [innerStrokeColor]="'#e7e8ea'"
            [animation]="true"
            [animationDuration]="800"
            ></circle-progress>
        <div *ngIf="isLogged">
            <button class="btn btn-secondary" routerLink="/editskill/{{ skill.id }}">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteSkill(skill.id)">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</div>    

