<div class="card">
  <div class="row">
    <h1>Proyectos concluidos</h1>
    <div>
      <button type="button" class="btn btn-primary" routerLink="/newproyect" *ngIf="isLogged"><i
          class="bi bi-plus-square"></i>
        Agregar proyecto
      </button>
      <div class="row" *ngIf="proyecto?.length == 0">
        <p>No hay proyectos para mostrar</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-4 mb-3" *ngFor="let proyect of proyecto">
        <div class="card bg-light border-grey mb-1">
          <img class="card-img-top" id="pic" src={{proyect.imgProyect}}>
          <div class="card-block">
            <h3 class="card-title"><u>Nombre</u>: {{proyect.nomProyect}}</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Descripción</b>: {{proyect.descProyect}}</li>
              <br>
              <div class="text-center" *ngIf="isLogged" id="btn">
                <button class="btn btn-secondary" routerLink="/editproyect/{{ proyect.id }}">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteProyect(proyect.id)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>